body 
    {
        text-align: center;
        font-family: "arial";
        color: #333333;
        font-size: 20px;
        background: #333333;
    
        margin: 0 ;
        padding: 0;
        ;
    }
#cabecera{
    background: rgb(81, 81, 167);
    box-shadow: 0px 2px 20px 0px rgba(0, 0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#logo{
    width: 50px;
    vertical-align: middle;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
   
    margin: 0 auto;

} 
#container h1 {
    font-size: 20px;
}
#post {
    background: white;
    padding: 1em;
}
#tagline{
    font-size: 16px;
    font-weight: 200;
}
#footer{
    background: #868686;
    font-size: 15px;
    padding: 1px;
    color: white;
    text-align: center;
}