body 
    {
        text-align: center;
        font-family: "arial";
        color: #333333;
<<<<<<< HEAD
        font-size: 20px;
        background: #333333;
    
=======
           
>>>>>>> footer
        margin: 0 ;
        padding: 0;
        ;
    }
#cabecera{
    background: rgb(81, 81, 167);
    box-shadow: 0px 2px 20px 0px rgba(0, 0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#logo{
    width: 50px;
    vertical-align: middle;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
   
    margin: 0 auto;
 

} 
#container #post
{
    font-size: 10px;
 
}
#tagline {
    font-size: 10px;
}
#container h1 {
    font-size: 20px;
}
#footer{
    background: #333333;
    font-size: 15px;
    padding: 0px;
    color: white;
    text-align: center;
}